<!doctype html>
<html ng-app="whiteboardApp" style="height:100%;">
    
    <head>
        
        <meta charset="utf-8">
        <title>Preppo - Current Affairs App for SBI PO, SBI Clerk, IBPS PO, IBPS Clerk, SSC & UPSC</title>
        <meta name="viewport" content="width=device-width">
        
        <meta name="description" content="Prepare for IBPS PO, IBPS Clerk, SBI PO, SBI Clerk, SSC CGL, SSC CHSL & UPSC exams on the move by keeping yourself updated with GK & daily Current Affairs. Study in both English and Hindi, take daily updated quizzes specially designed for each exam and test your preparation"/>
        <meta name="keywords" content="SBI PO, SBI Po Exam, SBI Recruitment, SBI PO Recruitment, sbi bank po, sbi po online, sbi jobs, sbi careers, SBI Clerk, SBI Associate Clerk, SBI Exams, Banking Exams, GK, current affairs, current affairs 2016, banking current affairs, upsc current affairs, IBPS PO, IBPS Clerk, SSC, SSC CGL, SSC CHSL, Railways, LIC AAO, Banking jobs"/>
        
        <link rel="icon" href="./resources/favicon.png" />
        <link rel="alternate" href="android-app://preppo.current_affairs/preppo/current-affairs" />
        
        <link rel="stylesheet" type='text/css' href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type='text/css' href="./style.css">
        
        <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
        <script src="./bower_components/jquery/dist/jquery.min.js"></script>
        <script src="./bower_components/angular/angular.min.js"></script>
        <script src="./script.js?user=teacher"></script>
        
    </head>
        
    
    <body style="height: 100%; position: relative; background-color: #d5d5d5; margin: 0px; padding: 0px;" ng-controller="MainController">
        
        <div style="height: 20px;"></div>
        
        <div id="options">
            <span>Pen type : </span>
            <div ng-class="{ 'active': !whiteboardTeacherService.userPreference.isEraserSelected }" ng-click="eraserSelected(false)"><span class="glyphicon glyphicon-pencil"></span></div>
            <div ng-class="{ 'active': whiteboardTeacherService.userPreference.isEraserSelected }" ng-click="eraserSelected(true)"><span class="glyphicon glyphicon-erase"></span></div>
        </div>
        
        <div id="widths" ng-show="!whiteboardTeacherService.userPreference.isEraserSelected">
            <span>Thickness : </span>
            <div ng-repeat="width in whiteboardTeacherService.availableOptions.width" ng-class="{ 'active': (width == whiteboardTeacherService.userPreference.penWidth) }" ng-click="widthClicked($index)">{{width}}</div>
        </div>
        
        <div id="colors" ng-show="!whiteboardTeacherService.userPreference.isEraserSelected">
            <span>Colors : </span>
            <div ng-repeat="color in whiteboardTeacherService.availableOptions.color" ng-class="{ 'active': (color == whiteboardTeacherService.userPreference.penColor) }" ng-click="colorClicked($index)" ng-style="{ 'background-color': color }"></div>
        </div>
        
        <div class="empty" ng-show="whiteboardTeacherService.userPreference.isEraserSelected"></div>
        <div class="empty" ng-show="whiteboardTeacherService.userPreference.isEraserSelected"></div>
        
        <div id="tabs">
            <span>Tabs : </span>
            <div ng-repeat="tab in whiteboardTeacherService.getArray(whiteboardTeacherService.userPreference.tabs)" ng-class="{ 'active': (tab == whiteboardTeacherService.userPreference.selectedTab ) }" ng-click="tabClicked(tab)">{{tab+1}}</div>
            <div ng-click="newTabClicked()">+</div>
        </div>
        
        <div id="cnvsContainer">
            <canvas id="cnvs2" class="cnvs"></canvas>
            <canvas id="cnvs1" class="cnvs" ng-mousedown="whiteboardTeacherService.startStroke($event)" ng-mousemove="whiteboardTeacherService.drawStroke($event)" ng-mouseleave="whiteboardTeacherService.stopStroke()" ng-mouseup="whiteboardTeacherService.stopStroke()"></canvas>
        </div>
        
    </body>
</html>